.header{
    background-color: rgba(241, 16, 241, 0.19);
    height: 100%;
    width: 100%;
    padding: 0px 50px;
    font-size: 15px;
    align-items: center;


}

.navigation{

    display: flex;
    justify-content: space-between;


    color: black;
    list-style-type: none;

}

