.header{
    background-color: red;
    height: 100%;
    width: 100%;
    padding: 0px 50px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.navigation{

    height: 100%;
}