body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
/*	overflow-x: hidden;*/
    min-width: 600px;
    color: white;
}


.header{
    background-color: rgba(141, 43, 214, 0.8);



}

.flex-navigation{

    display: flex;
    justify-content: space-between;


    list-style-type: none;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    border: 5px;

}









.content h1{
    margin-bottom: 0;
    font-size: 20px;
}



.content hr {
    margin-bottom: 0;
    margin-top: 0;
    box-shadow: 5px 5px 10px grey;
}
.content-container img {
  float: left;
  margin-right: 0; /* отступ между картинкой и текстом */
  box-shadow: 5px 5px 10px grey;
}

.content-container p {
  margin-top: 0; /* убрать отступ сверху */
  text-align : justify; /*выровнять текст по ширине*/
}
/* Выстроить контент в 2 блока: О себе и Навыки */
.grid_content {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 100%; ; /*ширина контента на всю страницу*/
    grid-template-rows: calc(100vh - 80px) ; /*высота контента на всю страницу*/
}

.back_color  {
    position: relative;
    opacity: 1;/* здесь 1 определяет уровень прозрачности для вложенных элементов */
}

/* добавляем псевдокласс для настройки фонового изображения с прозрачностью  */
.back_color::before {
    content: "";
    background-image: url('back.jpeg');
    background-size: cover; /* растяжка по содержимому */
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}





/* Блоки навыков Python, Django, JS */
.grid-blocks {


    display: grid;

    grid-template-rows: 200px;/*1 строка*/
    grid-gap: 2vw;/*отступы между ячейками*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}




.grid-block {
    background-color: rgba(241, 16, 241, 0.19);
    box-shadow: 5px 5px 10px grey; /*тень к элементу*/

}
.grid-block h2{
    font-weight:bold;  /*полужирный шрифт*/
    width:100%;/*чтобы отцентровать по-центру*/
    text-align:center;/*по-центру*/
    background-color: rgba(241, 16, 241, 0.19);
    box-shadow: 5px 5px 10px grey; /*тень к элементу*/


}
.grid-block p {
   width:100%;/*чтобы отцентровать*/
   text-align: left;/*слева*/

}
footer{
 background:rgba(241, 16, 241, 0.19);
 clear:both;
 width:100%;
 height:80px;
 text-align:center;

 font-size:14px;
 padding-top:10px;
}



/* настройка skillbar*/

* {box-sizing: border-box}
.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
}

.content p {
  margin-bottom: 0;
}


.pytnon {width: 90%; background-color: #04AA6D;}
.django {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.ws {width: 60%; background-color: #808080;}

/* конец skillbar*/